<a name="Menu"></a>
  <div class="buffer"></div>
    <%= erb :"_query_menu" %>
    <%= erb :"_menu" %>
<a name="Specials"></a>
<a name="Sauces"></a>
<a name="Catering"></a>
  <div class="buffer"></div>
    <h1>Specials, Sauces & Catering</h1>
      <div id="accordion">
        <%= erb :"_specials" %>
        <%= erb :"_catering" %>
        <%= erb :"_sauce" %>
      </div>
<a name="About"></a>
  <div class="buffer"></div>
    <%= erb :"_about" %>
<a name="Contact"></a>
  <div class="buffer"></div>
    <%= erb :"_contact" %>
<a name="Comments"></a>
  <div class="buffer"></div>
    <%= erb :"_comments" %>